<!-- <p>product-list works!</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td><img src="{{product.imageUrl}}" alt="" height="50"></td>
            <td class="align-middle">{{product.name}}</td>
            <td class="align-middle">{{product.unitPrice | currency: 'USD'}}</td>
            <td class="align-middle">{{product.unitsInStock}}</td>
        </tr>
    </tbody>

</table> -->

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let product of products">
                    <div class="product-box">
                        <img src="{{product.imageUrl}}" alt="" height="50" class="img-responsive">
                        <p style="font-size: small;">{{product.name}}</p>
                        <div class="price">{{product.unitPrice | currency: 'USD'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                    <!-- <td class="align-middle">{{product.unitsInStock}}</td> -->
                </div>
            </div>
        </div>
    </div>
</div>